
*{
  border: solid 1px black;

}

.banner{
  min-height: 100vh;
  background-image: url("../img/leaves.jpg");
  background-size: cover;
}

h1{
font-size: 2rem;
margin-bottom: 0; 
}

h2{

}

h3{
font-size: 5rem;
margin-top: 0;
margin-bottom: 0;
}

h4{

}

h5{

}

h6{


}

/* text helpers */
.text-center {
  text-align: center;
}

.text-white{
  color: white;
}

.text-yellow{
  color: #FFBE00;
}


/*font helpers*/
.roboto-regular{
font-family: 'Roboto', sans-serif;
font-weight: 400;
}

.roboto-bold{
  font-family: 'Roboto', sans-serif;
  font-weight: 700;
}
